<div class="project_top_list">
  <h3 class="title clearfix"><%= h3_title %><span class="subtitle">&nbsp;</span></h3>
  <% projects_top_list_all.each_with_index do |project, i| %>
    <div class="rank">
      <div class="rank_main clearfix">
        <div class="name"><h4><%= i + 1 %>.<%= link_to project.name.capitalize, project_path(project) %></h4></div>
        <div class="score"><%= project.score %></div>
      </div>
      <div class="rank_sub clearfix">
        <div class="name"><%=link_to project.category_name, category_path(project.category_id) + url_name(project.category_name) %></div>
        <div class="score">&nbsp;</div>
      </div>
    </div>
    <!-- div#rank -->
  <% end %>
</div>