<div id="project_list" class="clearfix">
  <div class="project_list<%= " small" if params[:controller] == "categories" %>">
    <table>
      <tr>
        <th><%= sort_link("project") %></th>
        <% if params[:controller] != "categories" %>
        <th><%= sort_link("category") %></th>
        <% end %>
        <th><%= sort_link("score") %></th>
      </tr>

    <% projects_list.each do |project| %>
      <tr class="<%= cycle("even", "odd")%>">
        <td><%=link_to project.name.capitalize, project_path(project) %></td>
        <% if params[:controller] != "categories" %>
        <td><%=link_to project.category.name, category_path(project.category) %></td>
        <% end %>
        <td class='right'><%= number_with_delimiter(project.score) %></td>
      </tr>
    <% end %>
    </table>
    <%= paginate projects_list, :remote => true %>
  </div>
</div>