<%= render :partial => 'shared/projects_search' %>
<%- if params[:search] -%>
  <%- if @projects.size > 0 -%>
    <%= render :partial => 'shared/tag_cloud',:object => @projects %>
    <%= render :partial => 'shared/projects_list',:object => @projects %>
  <%- else -%>
    We did not find results.
  <%- end -%>
<%- else -%>

<div id="top_list" class="clearfix">
<h2>Top10 Score Ranking</h2>
  <%= render :partial => 'shared/projects_top_list',:object => @daily_top10_projects,   :locals => { :h3_title => 'daily' } %>
  <%= render :partial => 'shared/projects_top_list',:object => @weekly_top10_projects,  :locals => { :h3_title => 'weekly' } %>
  <%= render :partial => 'shared/projects_top_list',:object => @monthly_top10_projects, :locals => { :h3_title => 'monthly' } %>
  <%= render :partial => 'shared/projects_top_list_all',:object => @top10_projects,     :locals => { :h3_title => 'all' } %>
</div>
<%= render :partial => 'shared/tag_cloud',:object => @projects %>
<%- end -%>