<div id="project_main" class="clearfix">
  <div id="project_title">
    <h2><%=link_to_if(@project.project_link, @project.name, @project.project_link, :popup => true) %></h2>
    <div id="project_category">(<%= link_to @project.category.name, category_path(@project.category) %>)</div>
  </div>
  <div id="project_score">
    <div id="project_score_total"><%= @project.score %></div>
    <div id="project_score_items">
      <dl>
        <dt>watcher</dt><dd><%= @project.watcher_count %></dd>
        <dt>fork</dt><dd><%= @project.fork_count %></dd>
      </dl>
    </div>
  </div>
  <div id="project_link">
    <ul>
      <%= content_tag(:li, link_to('web',  @project.web_link,    :popup => true)) if @project.web_link -%>
      <%= content_tag(:li, link_to('wiki', @project.wiki_link,   :popup => true)) if @project.wiki_link -%>
      <%= content_tag(:li, link_to('src',  @project.source_link, :popup => true)) if @project.source_link -%>
      <%= content_tag(:li, link_to('rdoc', @project.rdoc_link,   :popup => true)) if @project.rdoc_link -%>
      <%= content_tag(:li, link_to('toolbox', 'http://ruby-toolbox.com' + @project.category.link, :popup => true, :class => 'toolbox')) -%>
    </ul>
  </div>
</div>
<div id="project_description">
  <%= @project.description %>
</div>
<hr />

<%= render :partial => 'shared/projects_chart',:object => @weekly_project, :locals => {:chart_id => "weekly_chart"} %>
<hr />
<%= render :partial => 'shared/projects_chart',:object => @monthly_project, :locals => {:chart_id => "monthly_chart"} %>

<div id=back_button><%= link_to 'Back', :back %></div>