<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>The Ruby Toolbox Search</title>
  <%= stylesheet_link_tag 'base' %>
  <%= javascript_include_tag('jrails.js', 'jquery.js', 'curvycorners', 'highcharts') %>
  <meta name ="Keywords" content="ruby,tool,toolbox,search">
  <meta name ="Description" content="The Ruby Toolbox Search is retrieval service that looks for a popular tool in Ruby Toolbox.">
</head>
<body>
  <div id="header" class="clearfix">
    <div id="header_title">
      <h1><%= link_to('The Ruby Toolbox Search', root_path) %>
        <% cache("updated", :expires_in => 30.minutes) do %>
        <span id="header_updated" title="<%= "#{@recnetly_crawl.project_count} projects in #{@recnetly_crawl.category_count} categories" %>">
          <%= "updated at: #{@recnetly_crawl.created_at.strftime("%b %d")}" %>
        </span>
        <% end %>
      </h1>
    </div>
    <div id="header_nav">
      <ul>
        <li id='projects'><%= link_to('projects', projects_list_path) %></li>
        <li id='categories'><%= link_to('categories', categories_path) %></li>
        <li id='about'><%= link_to('about', about_path) %></li>
      </ul>
    </div>
  </div>
  <!-- div#header -->
  <div id="container">
<%= yield %>
  </div>
  <!-- div#container -->
  <div id="footer">
    <ul>
    <!--<li><a href="/help/">help</a></li>-->
    <li>The Ruby Toolbox Search is © 2010-<%= Date.today.year %> rochefort.</li>
    </ul>
  </div>
  <!-- div#footer -->
</body>
</html>
